.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.imagen-perfil{
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.imagenes-perfil {
  width: 350px;
  height: 350px;
}

.usuario{
  font-size: 24px;
}

.background{
  background-color: #ece8e8;
}

.imagenes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Ajusta el espacio entre las columnas */
  margin-bottom: -1rem; /* Ajusta para compensar el espacio inferior */
}

.imagen-item {
  flex-basis: calc(25% - 1rem); /* Ajusta el ancho de las imágenes y resta el margen inferior */
  margin-bottom: 1rem; /* Añade margen inferior */
}

.imagenes-perfil {
  width: 100%;
  height: auto;
}

.imagen-grande-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1001;
}

.imagen-grande {
  width: 800px;
  height: 800px;
  object-fit: contain;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 800px) {
  .imagen-item {
    flex-basis: calc(33.33% - 1rem); /* Cambia a 3 columnas en lugar de 4 */
  }
}
